body {
  margin: 0;
  background-color:  #F4F5F8; 
}

body.no-scroll {
  overflow: hidden; 
}

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}